.form {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-content: center;
    color: var(--text-color);
    /* border: solid 2px white; */
}

.form .card {
    display: flex;
    background-color: black;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    margin: 30px 0px 0px 10px;
    /* border: solid 2px white; */
    height: 52rem;
    width: 80rem;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--text-color);
}

.form .card .img {
    background-image: url(../../assets/not_found.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vh;
    width: 60vh;
    height: 50vh;
    align-self: center;
}

.form .card .text {
    align-self: center;
    font-size: 42px;
    color: rgb(158, 48, 28);
}

.inputDecorated {
    width: 50rem;
    border: 2px solid var(--text-color);
    border-radius: 15px;
    /* margin: 8px 0; */
    /* margin-top: 20px; */
    margin-left: 1rem;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 40px;
}

.inputshort {
    width: 10rem;
}

.inputDecorated:focus {
    border-color: #fc7474;
    box-shadow: 0 0 8px 0 #fc7474;
}

.inputDecorated:after {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
}


.multiselect {
    margin: 1rem 0rem 1rem 0rem;
}

.select {
    padding: 0px 40px 0px 10px;
    height: 80px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
    font-size: 16px;
    background-color:var(--bg-color);
    color: var(--text-color);

}

.select:focus {
    border-color: #fc7474;
    box-shadow: 0 0 8px 0 #fc7474;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 0rem 2rem 0rem;
}

.danger {
    display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    font-size:medium;
    /* width: 20rem; */
}

.btn {
    margin: 30px 20px 0px 0px; 
    width: 150px;
    color: #fc7474;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #fc7474;
    background-color: var(--bg-color);
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
}

.btn:hover {
    color: #000000;
    background-color: #fc7474;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
}