.paginated {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.Btn {
    margin: 0px 10px 0px 0px; 
    width: 40px;
    color: #ff6d6d;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #ff6d6d;
    background-color: var(--bg-color);
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.5s;
}

.Btn:hover {
    color: #000000;
    background-color: #ff6d6d;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
}

.BtnDisabled {
    margin: 0px 10px 0px 0px; 
    width: 40px;
    color: #8f6f6f;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #8f6f6f;
    background-color: var(--bg-color);
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    /* transition-property: all;
    transition-duration: 0.5s; */
}

.BtnSelected {
    margin: 0px 10px 0px 0px; 
    width: 40px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #ff6d6d;
    background-color: #ff6d6d;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    /* transition-property: all;
    transition-duration: 0.5s; */
}